.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
  padding: 0;
  height: auto;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.title {
  font-size: 4rem;
  line-height: 1.15;
  margin: 0 0 2rem 0;
}
